
body {
    font-family: 'PF Bague Sans Pro';
}
.container{
    max-width: 1440px;
}
.block-one{
    min-width: 1200px;
    margin-top: 150px;
}
.one{
    text-align: center;
}
.block-title{
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 73px;
    text-transform: uppercase;
    color: #000000;
}
.block-p{
    font-family: 'PF Square Sans Pro';
    display: block;
    width: 1000px;
    margin: 50px 220px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}
.price{
    margin-top: 60px;
    text-align: center;
    font-size: 24px;
}
.block-price{
    width: 400px;
    height: 90px;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
    background: #F26522;
}
.section-two{
    display: flex;
    min-width: 1215px;
    margin-top: 180px;
}
.section-left{
    width: 773px;
    height: 496px;
    margin-right: 21px;
    margin-bottom: 0;
    background-color: #F26522;
}
.section-two-title{
    width: 467px;
    margin: 0;
    padding-top: 53px;
    padding-left: 150px;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 73px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.section-two-p{
    margin: 0;
    padding-left: 150px;
    color: #FFFFFF;
}
.section-two-img{
    width: 773px;
    margin-top: 25px;
}
.bold{
    font-weight: bold;
}
.section-two-a{
    width: 585px;
    margin: 0;
    padding-top: 45px;
    padding-left: 150px;
    font-family: 'PF Square Sans Pro';
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.section-two-b{
    width: 585px;
    margin: 0;
    padding-top: 20px;
    padding-left: 150px;
    padding-bottom: 42px;
    font-family: 'PF Square Sans Pro';
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.section-right-a{
    width: 410px;
    font-family:'PF Square Sans Pro';
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.section-right-b{
    width: 410px;
    font-family: 'PF Square Sans Pro';
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.three{
    margin-top: 167px;
    padding-bottom: 131px;
    background: #F8F8F8;
}
.section-three{
    text-align: center;
    padding-top: 131px;
}
.section-three-h2{
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 73px;
    text-transform: uppercase;
    color: #000000;
}
.section-three-p{
    margin-top: 10px;
    font-style: normal;
    font-size: 25px;
    text-transform: uppercase;
    color: #000000;
}
.tabs-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -11px;
}

.tabs-card1{
    margin: 11px;
    max-width:380px;
    background: #FFFFFF;
}
.tabs-card2{
    margin: 11px;
    max-width:380px;
    background: #FFFFFF;
}
.tabs-card3{
    margin: 11px;
    max-width:380px;
    background: #FFFFFF;
}
.tabs-item{
    margin: 20px 30px;
}
.tabs-svg{
    margin-right: 24px;
}
/*-----*/
.section-four-h2{
    margin-top: 179px;
    margin-bottom: 0;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 73px;
    text-transform: uppercase;
    color: #000000;
}
.section-four-p{
    margin-top: 0;
    font-style: normal;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
}
.section-four-cards{
    display: flex;
    justify-content: space-between;
}
.section-four-content{
    width: 388px;
    height: 687px;
    margin-top: 61px;
    margin-left: 120px;
    background-color: #F26522;
}
.section-four-img{
    margin-top: 79px;
    margin-left: 70px;
}
.section-four-image{
    width: 520px;
    height: 530px;
}
.section-four-card{
    display: flex;
    margin-top: 140px;
    margin-right: 200px;
}
.section-four-test{
    margin: 0;
    list-style: none;
}
.section-four-h3{
    margin: 0;
    font-family: PF Square Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    color: #000000;
}
.section-four-span{
    font-family: PF Square Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    margin: 0;
  
}
.section-four-p2{
    font-family: PF Square Sans Pro;
    padding-top: 40px;
    width: 256px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
}
.section-four-pointer{
    padding-top: 450px;
}
/*------*/
.section-five{
    margin-top: 200px;
}
.section-five-h3{
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 73px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.section-five-p{
    margin: 0;
    font-style: normal;
    font-size: 30px;
    text-align: center;
}
.promo-card{
    display: flex;
   
}
.promo{
    width: 457px;
    height: 478px;
    margin-top: 50px;
    margin-left: 80px;
    list-style: none;
}
.promo-bold{
    font-family: PF Square Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
}
.promo-p{
    font-family: PF Square Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}
.promo-p-text{
    margin-bottom: 31px;
    font-family: PF Square Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}
.section-five-right{
    width: 388px;
    height: 687px;
    margin-top: 30px;
    background: #F26522;
}
.section-five-image{
    width: 520px;
    height: 520px;
    margin-left: 154px;
    margin-top: 60px;
}
.section-six{
    margin-top: 150px;
    text-align: center;
}
.section-six-h3{
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 73px;
    text-transform: uppercase;
}
.section-six-p{
    margin: 0;
    font-size: 33px;
}
.section-six-cards{
    display: flex;
    padding-top: 110px;
    padding: -13px;
    z-index: 2;
}
.insta-frame{
    background: url('../image/рамка\ телеффон.svg') no-repeat;
    color: #000000;
    position: relative;
    width: 405px;
    height: 784px;
    margin-top: 111px;
    margin-left: 520px;
    display: flex;
    justify-content: center;
    z-index: -4;
}
.section-six-card{
    max-width: 380px;
    padding: 13px;
  
}
.card-header{
    display: flex;
    justify-content: space-between;
}
.section-six-info{
    margin-right: 150px;
}
.section-six-centre{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 23px;
}
.section-six-footer{
    margin-left: 24px;
}
.section-six-footer-h4{
    margin-bottom: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}
.section-six-footer-p{
    width: 336px;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}
.section-seven{
    display: flex;
    margin-top: 180px;
}
.section-seven-video{
    margin: auto;
    padding: auto;
}
.section-eight{
    margin-top: 177px;
}
.section-eight-h3{
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 73px;
    text-align: center;
    text-transform: uppercase;
}
.section-eight-p{
    padding-bottom: 49px;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}
.modal{
    display: block;
    justify-content: center;
    width: 768px;
    height: 559px;
    margin: auto;
    padding-top: 51px;
    padding-left: 60px;
    background-color: #F26522;
}
.modal-p{
    margin: auto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.modal-input{
    width: 691px;
    height: 58px;
    margin-bottom: 49px;
}
.button-modal{
    width: 700px;
    height: 60px;
    background: #F26522;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    margin-bottom: 24px;
}
.modal-text{
    width: 691px;
    height: 23px;
    display: block;
    font-family: PF Square Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
input:invalid {
    border: 2px dashed #FFFFFF;
}
input:valid {
    border: 2px solid black;
}
.footer{
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 155px;
    margin-top: 145px;
    background-color: #F26522;
}
.footer-logo{
    width: 200px;
    margin-top: 44px;
}
.footer-p{
    display: flex;
    width: 237px;
    margin-top: 95px;
    margin-left: 62px;
    font-family: PF Square Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.footer-text{
    display: block;
    list-style: none;
    margin-top: 47px;
    margin-left: 350px;
   
}
.footer-text-span{
    font-family: PF Square Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 9px;
    color: #FFFFFF;

}



 